@font-face {
    font-family: 'Archivo';
    src: url('Archivo-SemiBold.eot');
    src: url('Archivo-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Archivo-SemiBold.woff2') format('woff2'),
        url('Archivo-SemiBold.woff') format('woff'),
        url('Archivo-SemiBold.ttf') format('truetype'),
        url('Archivo-SemiBold.svg#Archivo-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo';
    src: url('Archivo-Italic.eot');
    src: url('Archivo-Italic.eot?#iefix') format('embedded-opentype'),
        url('Archivo-Italic.woff2') format('woff2'),
        url('Archivo-Italic.woff') format('woff'),
        url('Archivo-Italic.ttf') format('truetype'),
        url('Archivo-Italic.svg#Archivo-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo';
    src: url('Archivo-Light.eot');
    src: url('Archivo-Light.eot?#iefix') format('embedded-opentype'),
        url('Archivo-Light.woff2') format('woff2'),
        url('Archivo-Light.woff') format('woff'),
        url('Archivo-Light.ttf') format('truetype'),
        url('Archivo-Light.svg#Archivo-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo';
    src: url('Archivo-ExtraLight.eot');
    src: url('Archivo-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('Archivo-ExtraLight.woff2') format('woff2'),
        url('Archivo-ExtraLight.woff') format('woff'),
        url('Archivo-ExtraLight.ttf') format('truetype'),
        url('Archivo-ExtraLight.svg#Archivo-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo';
    src: url('Archivo-MediumItalic.eot');
    src: url('Archivo-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('Archivo-MediumItalic.woff2') format('woff2'),
        url('Archivo-MediumItalic.woff') format('woff'),
        url('Archivo-MediumItalic.ttf') format('truetype'),
        url('Archivo-MediumItalic.svg#Archivo-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo';
    src: url('Archivo-Medium.eot');
    src: url('Archivo-Medium.eot?#iefix') format('embedded-opentype'),
        url('Archivo-Medium.woff2') format('woff2'),
        url('Archivo-Medium.woff') format('woff'),
        url('Archivo-Medium.ttf') format('truetype'),
        url('Archivo-Medium.svg#Archivo-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo';
    src: url('Archivo-LightItalic.eot');
    src: url('Archivo-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('Archivo-LightItalic.woff2') format('woff2'),
        url('Archivo-LightItalic.woff') format('woff'),
        url('Archivo-LightItalic.ttf') format('truetype'),
        url('Archivo-LightItalic.svg#Archivo-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo';
    src: url('Archivo-ExtraLightItalic.eot');
    src: url('Archivo-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('Archivo-ExtraLightItalic.woff2') format('woff2'),
        url('Archivo-ExtraLightItalic.woff') format('woff'),
        url('Archivo-ExtraLightItalic.ttf') format('truetype'),
        url('Archivo-ExtraLightItalic.svg#Archivo-ExtraLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo';
    src: url('Archivo-Regular.eot');
    src: url('Archivo-Regular.eot?#iefix') format('embedded-opentype'),
        url('Archivo-Regular.woff2') format('woff2'),
        url('Archivo-Regular.woff') format('woff'),
        url('Archivo-Regular.ttf') format('truetype'),
        url('Archivo-Regular.svg#Archivo-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo';
    src: url('Archivo-ExtraBoldItalic.eot');
    src: url('Archivo-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Archivo-ExtraBoldItalic.woff2') format('woff2'),
        url('Archivo-ExtraBoldItalic.woff') format('woff'),
        url('Archivo-ExtraBoldItalic.ttf') format('truetype'),
        url('Archivo-ExtraBoldItalic.svg#Archivo-ExtraBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo';
    src: url('Archivo-SemiBoldItalic.eot');
    src: url('Archivo-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Archivo-SemiBoldItalic.woff2') format('woff2'),
        url('Archivo-SemiBoldItalic.woff') format('woff'),
        url('Archivo-SemiBoldItalic.ttf') format('truetype'),
        url('Archivo-SemiBoldItalic.svg#Archivo-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo';
    src: url('Archivo-ThinItalic.eot');
    src: url('Archivo-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('Archivo-ThinItalic.woff2') format('woff2'),
        url('Archivo-ThinItalic.woff') format('woff'),
        url('Archivo-ThinItalic.ttf') format('truetype'),
        url('Archivo-ThinItalic.svg#Archivo-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo';
    src: url('Archivo-Black.eot');
    src: url('Archivo-Black.eot?#iefix') format('embedded-opentype'),
        url('Archivo-Black.woff2') format('woff2'),
        url('Archivo-Black.woff') format('woff'),
        url('Archivo-Black.ttf') format('truetype'),
        url('Archivo-Black.svg#Archivo-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo';
    src: url('Archivo-BoldItalic.eot');
    src: url('Archivo-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Archivo-BoldItalic.woff2') format('woff2'),
        url('Archivo-BoldItalic.woff') format('woff'),
        url('Archivo-BoldItalic.ttf') format('truetype'),
        url('Archivo-BoldItalic.svg#Archivo-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo';
    src: url('Archivo-Bold.eot');
    src: url('Archivo-Bold.eot?#iefix') format('embedded-opentype'),
        url('Archivo-Bold.woff2') format('woff2'),
        url('Archivo-Bold.woff') format('woff'),
        url('Archivo-Bold.ttf') format('truetype'),
        url('Archivo-Bold.svg#Archivo-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo';
    src: url('Archivo-BlackItalic.eot');
    src: url('Archivo-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('Archivo-BlackItalic.woff2') format('woff2'),
        url('Archivo-BlackItalic.woff') format('woff'),
        url('Archivo-BlackItalic.ttf') format('truetype'),
        url('Archivo-BlackItalic.svg#Archivo-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo';
    src: url('Archivo-Thin.eot');
    src: url('Archivo-Thin.eot?#iefix') format('embedded-opentype'),
        url('Archivo-Thin.woff2') format('woff2'),
        url('Archivo-Thin.woff') format('woff'),
        url('Archivo-Thin.ttf') format('truetype'),
        url('Archivo-Thin.svg#Archivo-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo';
    src: url('Archivo-ExtraBold.eot');
    src: url('Archivo-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Archivo-ExtraBold.woff2') format('woff2'),
        url('Archivo-ExtraBold.woff') format('woff'),
        url('Archivo-ExtraBold.ttf') format('truetype'),
        url('Archivo-ExtraBold.svg#Archivo-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

